body {
    background-image: url('crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    min-height: 100vh;
    color: white;
    font-family: 'Bellefair', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* BASIC SETUP */

.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
width: 100%;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 10px;
background-color: transparent;
}

.grad-bar {
width: 100%;
height: 5px;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
display: grid;
grid-template-columns: 1fr 3fr;
align-items: center;
height: 50px;
overflow: hidden;
}

.navbar img {
height: 30px;
justify-self: start;
margin-left: 20px;
}

.navbar ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    justify-self: end;
    background-color: #24272E;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item.current-page {
    border-bottom: 2px solid white;
}

.nav-item:hover {
    border-bottom: 2px solid rgb(151, 149, 149);
}




.nav-item a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2.7px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease-out;
    font-family: 'Barlow Condensed', sans-serif;
}

.nav-item a:hover {
    color: #3498db;
}



/* SEARCH FUNCTION */

#search-icon {
font-size: 0.9rem;
margin-top: 3px;
margin-left: 15px;
transition: color 0.3s ease-out;
}

#search-icon:hover {
color: #3498db;
cursor: pointer;
}

.search {
-webkit-transform: translate(-35%);
transform: translate(-35%);
transition: transform 0.7s ease-in-out;
color: #3498db;
}

.no-search {
transform: translate(0);
transition: transform 0.7s ease-in-out;
}

.search-input {
position: absolute;
top: -4px;
right: -125px;
opacity: 0;
z-index: -1;
transition: opacity 0.6s ease;
}

.search-active {
opacity: 1;
z-index: 0;
}

input {
border: 0;
border-left: 1px solid #ccc;
border-radius: 0; /* FOR SAFARI */
outline: 0;
padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
width: 25px;
height: 3px;
background-color: #3f3f3f;
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.menu-toggle {
justify-self: end;
margin-right: 25px;
display: none;
}

.menu-toggle:hover{
cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
-webkit-transform: translateY(8px) rotate(45deg);
-ms-transform: translateY(8px) rotate(45deg);
-o-transform: translateY(8px) rotate(45deg);
transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
-webkit-transform: translateY(-8px) rotate(-45deg);
-ms-transform: translateY(-8px) rotate(-45deg);
-o-transform: translateY(-8px) rotate(-45deg);
transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
    


main {
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 80%;
}

#heading {
    position: absolute;
    top: 0;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.numbering {
    color: #797979;
    font-size: 16px;
    letter-spacing: 2.7px;
    margin-right: 10px;
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2.7px;
    font-weight: 100;
    font-family: 'Barlow Condensed', sans-serif;
}

.carousel {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.carousel-divs {
    width: 45%;
}

#carousel-text-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.carousel-text {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.job-title {
    font-size: 28px;
    font-weight: 200;
    color: #929191;
}

h2 {
    font-size: 56px;
    font-weight: 100;
}

.carousel-p {
    line-height: 30px;
    font-size: 18px;
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(121, 120, 120, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator:hover {
    background-color: rgb(161, 161, 161);
}

.carousel__indicator.current-slide {
    background: white;
}

#carousel-img {
    max-height: 130%;
}



@media screen and (max-width:800px) {
    body {
        background-image: url('crew/background-crew-tablet.jpg');
    }

    .features {
        flex-direction: column;
        padding: 50px;
    }
    
        
    .navbar ul {
        width: 80%;
        height: 100%;
        background-color: #24272E;
    }

    .nav-item a {
        font-size: 0.7rem;
    }

    main {
        min-height: 880px;
    }

    #container {
        width: 80%;
        height: 100%;
    }

    #heading {
        position: absolute;
        top: 0;
        font-size: 12px;
    }

    .carousel {
        height: 91%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #carousel-text-container {
        width: 90%;
        height: 45%;
    }

    .carousel-text {
        height: 100%;
        align-items: center;
    }

    h2 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .carousel-p {
        text-align: center;
    }

    #carousel-img {
        min-width: 380px;
    }

    .carousel__nav {
        align-self: center;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-image: url('crew/background-crew-mobile.jpg');
        
    }

    header {
        margin-top: 10px;
        z-index: 99;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 55px;
        background-color: #24272E;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
        z-index: 99;
    }
    
    .navbar li {
        padding: 15px;
    }
    
    .navbar li:first-child {
        margin-top: 50px;
    }
    
    .navbar li a {
        font-size: 1rem;
        color: white;
    }

    .nav-item.current-page {
        border-bottom: 0px;
    }
    
    .menu-toggle, .bar {
        display: block;
        cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
    }
    
    /* SECTIONS */
    
    .headline {
        height: 20vh;
    }
        
    .feature-container p {
        margin-bottom: 25px;
    }
    
    .feature-container {
        margin-top: 20px;
    }
    
    .feature-container:nth-child(2) {
        order: -1;
    }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
        display: none;
    }
    
    .search-input {
    display: none;
    }


    main {
        position: relative;
        height: fit-content;
    }

    #container {
        min-height: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 16px;
    }

    .carousel {
        width: 90%;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    #carousel-img {
        max-width: 250px;
        min-width: 250px;
    }

    #carousel-text-container {
        border-top: 1px solid #797979;
        flex-direction: column-reverse;
    }

    .carousel__nav {
        align-self: center;
    }

    .job-title {
        font-size: 24px;
    }

    h2 {
        font-size: 32px;
    }

}